.elements {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 882px;
  width: 100%;
  margin: 0 auto;
}

.elements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  grid-row-gap: 20px;
  grid-column-gap: 18px;

  margin: 0 auto;
}

.elements__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  max-width: 282px;
  height: 361px;
  margin: 0;
  overflow: hidden;
}

.elements__card-image {
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.elements__card-trash {
  position: absolute;
  top: 18px;
  right: 15px;

  background: transparent;
  border: none;
  width: 18px;
  height: 19.3px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.elements__card-trash:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}

.elements__card-trash-icon {
  width: 18px;
  height: 19.3px;
}

.elements__card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  width: 282px;
  padding-left: 21px;
  padding-right: 15px;
  box-sizing: border-box;
}

.elements__card-head-title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 225px;
}

.elements__card-head-like {
  background-image: url("../images/heart_icon_off.svg");
  background-color: #fff;
  border: 0;
  width: 21px;
  height: 19px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

.elements__card-head-like:hover {
  background-image: url("../images/heart_icon_hover.svg");
}

.elements__card-head-like-icon {
  width: 21px;
  height: 19px;
}

.elements__card-head-liked {
  background-image: url("../images/heart_icon_activo.svg");
  width: 21px;
  height: 19px;
}

@media screen and (max-width: 900px) {
  .elements__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 581px) {
  .elements__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
