.footer {
  position: relative;
  display: flex;
  max-width: 882px;
  width: 100%;
  margin: 62px auto 45px;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: auto;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 23px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
