.header {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 882px;
  width: 100%;
  margin: 45px auto 40px;
}

.header__logo {
  position: relative;
  max-width: 173px;
}

.header__figure {
  border: none;
  height: 1px;
  background-color: #545454;

  max-width: 882px;
  margin-top: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 0;
  }

  .header__logo {
    max-width: 126px;
    margin-top: 28px;
    margin-left: 27px;
  }

  .header__figure {
    margin-top: 32px;
  }
}
