.profile {
  position: relative;
  display: flex;
  margin: 0 auto 50px;

  max-width: 882px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 17px;
  grid-row-gap: 16px;

  margin-left: 30px;
}

.profile__info-name {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  font-size: 42px;
  font-weight: 500;

  margin: 0;
  padding: 0;
  max-width: 700px;
}

.profile__info-edit {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.profile__info-edit-diseño {
  background-color: transparent;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__info-edit-diseño:hover {
  opacity: 0.6;
}

.profile__info-icon-button {
  max-width: 10px;
}

.profile__info-ocupation {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: start;

  margin: 0;
  max-width: 700px;
}

.profile__button-add {
  display: flex;
  align-items: center;

  width: 150px;
  margin-left: auto;
}

.profile__button-add-diseño {
  background-color: transparent;
  border: 2px solid white;
  box-sizing: border-box;

  width: 100%;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

.profile__button-add-diseño:hover {
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    width: 168.75px;
    height: 127.5px;
  }

  .profile__info {
    margin: 0 auto;
  }

  .profile__info-name {
    font-size: 22px;
    max-width: 201px;
    margin-top: 14px;
  }

  .profile__info-ocupation {
    grid-column: 1/-1;
    font-size: 14px;
    max-width: 280px;
    align-items: center;
  }

  .profile__button-add {
    margin: 36px auto 0;
  }
}
